body{
  height: 100%;
}

#header{
  display: flex;
  position: fixed;
  max-height: 500px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(240, 236, 225);
  margin-top: 10px;
}

#left{
  display: flex;
}

#log{
  
  height:64px;
  width: 64px;
}

#name{
  margin-left: 10px;
  font-size: 36px;
  margin-top: 10px;
  
}

#nav{
  display: flex;
  float: right;
  margin-left:500px;
  margin-top: 0px;
}

.link{
  margin: 30px;
  font-size: 17px;
  text-decoration: none;
  color: black;  
}

#center1{
  text-align: center;
  height: 150px;
  
  
}

#getStarted{
  background-color: rgb(252, 190, 3);
  border: none;
  margin-top: 15px;
  text-align: center;
  height: 25px;
}

#getStarted:hover{
  opacity: 0.7;
}

#center2{
  
}

#element1, #element2{
  display: inline;
  margin: auto;
}

.icon{
  height: 70px;
  width: 70px;
  display: inline;
  float: left; 
  margin-left: 200px;
  margin-top: 34px;
  padding-right: 50px;
  
}

#center2 .desc{
  display: flex;
  flex-direction:column;
  justify-content: center;
  height: 125px;
  padding: 5px;
  
}

#center2 .p{
  margin-top: -6px;
  font-size: 17px;
}

#grid{
display: flex;
}

.col1{
width: 400px;
border: solid 2px black;
padding: 20px;
margin: 15px;
text-align: center;
}



.select{
  background-color: rgb(252, 190, 3);
  border: none;
  margin-top: 15px;
  text-align: center;
  height: 25px;
}

.select:hover{
  opacity: 0.7;
}

footer{
display: flex;
flex-direction: column;
width: 800px;
padding: 20px;
justify-content: flex-end;
align-self: right;
}

#wrapper{
background: rgb(214, 212, 206);
}

ul{
display: flex;

}

h2{
background-color: rgb(214, 212, 206);
padding: 20px;
}

.foot{
margin: 20px;
text-decoration: none;
color: black;
}

#main{
padding: 70px;
}

@media(max-width: 480px){
#grid{
  display: flex;
  flex-direction: column;
}
}

#vid{
position: relative;
float: center;

}

#copyright{
display: flex;
justify-content: flex-end;
}

footer > ul{
display: flex;
justify-content: flex-end;
}



