body{
    height: 100%;
  }
  
  #header{
    display: flex;
  }
  
  #left{
    display: flex;
  }
  
  #log{
    height:64px;
    width: 64px;
  }
  
  #name{
    margin-left: 10px;
    font-size: 36px;
    margin-top: 10px;
  }
  
  #nav{
    display: flex;
    float: right;
    margin-left:500px;
    margin-top: 0px;
  }
  
  .link{
    margin: 30px;
  }